@import "https://fonts.googleapis.com/css?family=Roboto";

$font: 'Roboto', sans-serif;
$primary-color: #0052AB;
$secondary-color: #009BE5;
$info-color: #FF6700;
$success-color: #5BA44F;
$font-color: #1A1A1A;
$font-heading-color: #002D74;
$highlights-color: #0052AB;
