.menubar {
    background-color: lightblue;
}

.ui-menu
{    
    background:blue;
    min-width: 210px;
    width: 210px;
}

.menuitem {
    min-width: 200px;
    width: 200px;
    white-space: nowrap;
    background-color: lightblue;
}

table.ui-datepicker-calendar tbody tr td span{
    height: 20px;
    text-align: center;
}
table.ui-datepicker-calendar tbody tr td.ui-datepicker-unselectable.ui-state-disabled span.ui-state-default{
    text-align: center;
    height: 20px;
    padding: 10px 0px 0px 0px;
}
table.ui-datepicker-calendar tbody tr td.highlight-calendar a.ui-state-default{
    text-align: center;
    height: 20px;
    padding: 10px 0px 0px 0px;    
}
.ui-datepicker-month{
    color: black;
}
.ui-datepicker-year{
    color: black;
}
.ui-datepicker-prev{
    background: #2191C0;
}
.ui-datepicker-next{
    background: #2191C0;
}
.ui-tabs-nav li.ui-tabs-selected a{
    color: red;
}
.ui-button-text{
    text-shadow: none !important;
}
.ui-panel-title{
    text-shadow: none !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-state-default, .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{
    text-shadow: none !important;
}
.ui-widget .ui-datatable-header{
    text-shadow: none !important;    
}
.ui-widget .fc-day-header{
    text-shadow: none !important;
}
.ui-widget-header{
    text-shadow: none !important;
}

.ui-button:not(.btn){
    /*background-color: #1D71B8!important;*/
    background-color: #6f88ba;
    background-image: none!important;
    border-color: #000000;
    /*border-radius: 15px!important;*/
    border-style: solid;
    border-width: 0;
    box-shadow: 1px 1px 2px 0 #A9A9A9!important;
    color: #FFFFFF!important;
    font-family: Arial!important;
    font-size: 11pt!important;
    font-style: normal!important;
    font-weight: 400!important;
    /*height: 14px;*/
    /*line-height: 11pt;*/
    padding-left: 0px!important;
    /*padding-right: 10px!important;*/
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    transform: rotate(0deg);
    margin-right: 0px!important;    
}
.ui-button.ui-state-disabled{
    background-color: #BEBEBE!important;
    opacity: 1!important;
}

.ui-button.ui-state-hover{
    text-decoration: underline!important;
}

.whiteIcon .ui-icon {
    background-image: url("/werpWebStore/resources/images/ui-icons_ffffff_256x240.png");
}

.ui-menubutton .ui-state-default .ui-icon {
    background-image: url("/werpWebStore/resources/images/ui-icons_ffffff_256x240.png");
}
.ui-panelgrid {
    border-collapse: collapse;
}
.ui-layout-unit .ui-layout-unit-content {
    padding: 0.2em 0em;
    border: 0px none;
    overflow: auto;
}

.ui-button.greenButton{
    background-color: #55d145 !important;
}

.ui-button.redButton{
    background-color: #c62323 !important;
}

h3.ui-accordion-header.ui-helper-reset.ui-state-default{
    font-size: 14px;
    margin: 5px 0px 5px 0px;
    color: #c62323;
}

#selectedDeliveryDate{
    font-size: 14px;
    margin: 5px 0px 5px 0px;    
}
.hasDatepicker{
    font-size: 12px;
}

/*div.ui-accordion-header.ui-helper-reset.ui-state-default.ui-state-active.ui-corner-top{
    font-size: 14px;
    margin: 5px 0px 5px 0px;
    color: #c62323;
}*/

